body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  background: rgb(56, 56, 56);
}

.container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 300px;
  margin-bottom: 20px;
}


.formSubmit{
  display: flex;
  justify-content: center;
  margin-left: 50px;
}
.formSubmit button{
  width: 300px;
}
input, textarea, button {
  
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgb(185, 185, 185);
}

ul {

  list-style-type: none;
  padding: 10px;

}

li {

  background: #fff;

  margin: 10px ;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  margin-right: 10px;
}

.listEvent{

}